
@using TruthAbove.Models

@model SearchOptions 

        <!-- Modal -->
        <div class="modal fade" id="addSightingModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Sighting</h4>
                    </div>
                    <div class="modal-body">
                        <table cellpadding="5">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <span class="saveMessage"></span>
                        <button type="button" class="btn btn-default saveSightingsButton">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
